@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

.note-container {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
